.div-p-title{
	display:flex;
	align-items:center;
}
.p-title{
	flex-grow:32;
}
.p-title-R{
	flex-grow:1;
}

.ul-menu-red{ 
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.ul-menu-bottom{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.content{
	display:flex;
	flex-direction:row;
	flex-grow:1;
}
.L{
	display:flex;
	flex-grow:3;
}

.footer{
	display:flex;
	align-items:flex-end;
}
