*{
	margin:0;
	padding:0;
	font-family:Ubuntu,Roboto;
}

html,body{
	height:100%;
}

.div-p-title{
    max-width:1200px;
	height:50px;
	margin: auto;
	color: rgb(198, 3, 4);
}
.p-title{
	padding-left:5px;
	color: rgb(198, 3, 4);
}

.head-top{
    max-width:100%;
	height:20px;
	background-color:#ddd;
}
.head-title{
    max-width:100%;
	height:50px;
	background-color:#eee;
}
ul,li{
	list-style:none;
}

                                         /* START menu-red */

.menu-red{
	height:50px;
	background-color:#c60304;
	margin-left:0;
}
.menu-red a{
	text-decoration:none;
	font-family: Times New Roman;
	font-size:22px;
	color:white;
	margin:20px;
}

.ul-menu-red{
	width:1200px;
	height:auto;
	margin:auto;
}

.ul-menu-red li:first-child{
	background-color: rgb(125, 2, 2);
	height:50px;
}

.ul-menu-red li:hover{
	background-color: rgb(125, 2, 2);
	height:50px;
}

.ul-menu-red li{
	transition:all 700ms ease-out;
}

                                         /* END menu-red */

                                        /* START menu-bottom */

.div-menu-bottom{
	background-color:#E6E6E6;
}

.ul-menu-bottom{
    max-width:1200px;
	margin:auto;
	height:50px;
}

.ul-menu-bottom a{
	color:#4c4c45;
	margin:10px;
}

.ul-menu-bottom li:nth-child(6) {
	padding-right:360px;
}

.ul-menu-bottom li:first-child{
	margin-left: 30px;
}

.span-user{
	font-weight:bold;
	font-family: Times New Roman;
	color: rgb(76, 76, 69);
	font-size: 18px;
	transition:all 700ms ease-out;
}

.ul-menu-bottom a{
	color: #4c4c45;
	margin: 10px;
}
.ul-menu-bottom a:hover{
	text-decoration:none;
}

                                         /* END menu-bottom */

                                         /* START menu-content */

.content{
    max-width:1200px;
    min-height:100%;
	margin:50px auto;
	padding:10px;
}

.text-L{
	padding-right:20px;
	text-align:justify;
}

.text-R{
	padding-right:5px;
	text-align:justify;
	font-size:14px;
}

.text-center{
	padding-right:20px;
	font-size:14px;
}

                                         /* END menu-content */

                                         /* START footer */
.footer{
	width:100%;
	min-height:240px;
	    margin:10px auto;
	    background-color:#DDDDDD;
}

.footer-L{
    max-width:240px;
	text-decoration:none;
	color:rgb(221, 221 2221);
}

.footer-L a{
	text-decoration:none;
	color:#4c4c45;
	font-size:14px;
}

.footer-center{
    max-width:980px;
        height:auto;
	text-align:center;
	font-size:14px;
}
